#admin_username {
    margin: 5% !important;
    width: 90%;
}

#admin_password {
    margin: 5% !important;
    width: 90%;
}

#admin_submit {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

#admin_login_card {
    margin: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

.card {
    border: 2px solid black !important;
}