
#admin_home {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    margin: 3%;
}

#mainview {
    width:100% !important;
    text-align: center !important;
}

#button_link {
    width: 100% !important;
}

#email_list {
    text-align: center !important;
}
