#pepe_logo {
    width: 24em;
    height: auto;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    background: black !important;
}



#return_home {
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
}

#thanks_title {
    margin-top:3%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.body {
    text-align: center !important;
}