<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/welcome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">
    <title>main page</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" id="toolbar">
        <a class="navbar-brand" id="toolbar_title">Queen Alphabet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="row">
        <div class="col-md-4">

            <div class="card" id="queen_logo">
                <img class="card-img" src="{{ url_for('static', filename='images/queen.png') }}">
            </div>
        </div>

        <div class="col-md-8">

            <div class="card" id="queen_desc">
                <div class="card-body">
                    <h5 class="card-title" id="welcome_title">Welcome!</h5>
                    <p class="card-text" id="welcome_text">The Queen Alphabet website is under construction and coming
                        soon. In the mean
                        time to stay up to date and subscribe to regal updates below.</p>


                    <form action="{{ request.path }}" method="post" enctype=multipart/form-data>
                        </br>
                        <input type="text" id="welcome_input"
                            class=" form-control border-top-0 border-right-0 border-left-0" name="name" value="name" />

                        </br>
                        <input type="email" id="welcome_input"
                            class="form-control border-top-0 border-right-0 border-left-0" name="email" value="email" />

                        </br>
                        <input type="submit" id="welcome_submit" class="form-control" name="subscribe_submit"
                            value="subscribe" />
                        </br>
                    </form>

                </div>
            </div>

        </div>
    </div>


</body>

</html>