<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/preview_blog.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">
    <title>new blog page</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" id="toolbar">
        <a class="navbar-brand" id="toolbar_title">Queen Alphabet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="row">
        <div class="card" id="preview_logo">
            <img class="card-img center" src="{{ url_for('static', filename='images/' + blog_test.image) }}">
        </div>
    </div>

    <div id="preview">
        <div class="row" id="title_row">

            <span id="blog_title">{{blog_test.title}}</span>

        </div>
        <div class="row" id="info_row">
            <div class="col">
                <span id="header">{{blog_test.author}}</span>
            </div>
            <div class="col">
                <span id="header">{{blog_test.date}}</span>
            </div>
        </div>



        <div class="row">
            {{blog_test.blog|safe}}
        </div>
        </br>
        </br>
        <div class="row" id="button_row">
            <div class="col">
                <a href="javascript:history.back()">
                    <button type="button" class="btn"> Go Back </button>
                </a>
            </div>
            <div class="col">
                <a href="{{ url_for('show_blogs') }}">
                    <button type="button" class="btn"> Blog List </button>
                </a>
            </div>
        </div>

    </div>

</body>

</html>